<template>
  <article class="post">
    <header class="post-header">
      <div class="post-title">
        <h1>{{post.title}}</h1>
        <nuxt-link to="/">
          <i class="el-icon-back"></i>
        </nuxt-link>
      </div>
      <div class="post-info">
        <small>{{ new Date(post.date).toLocaleString() }}</small>
      </div>
      <span>
        <i class="el-icon-platform-eleme"></i>
        {{post.views}}
      </span>
      <div class="post-image">
        <img :src="post.imageUrl" alt />
      </div>
    </header>
    <main class="post-content">
      <vue-markdown>{{post.text}}</vue-markdown>
    </main>
    <footer>
      <AppCommentForm :postId="post._id" @created="createCommentHandler" v-if="canAddComment" />
      <div class="comments" v-if="post.comments.length">
        <AppComment v-for="comment in post.comments" :key="comment._id" :comment="comment"></AppComment>
      </div>
      <div class="text-center" v-else>Комментариев нет</div>
    </footer>
  </article>
</template>
<script>
import AppComment from '@/components/main/Comment'
import AppCommentForm from '@/components/main/CommentForm'
export default {
  async asyncData({ store, params }) {
    await store.dispatch('post/addView', params.id)
    const post = await store.dispatch('post/fetchById', params.id)
    return { post }
  },
  validate({ params }) {
    return Boolean(params.id)
  },
  head: () => ({
    meta: [
      {hid: `post-${this.post._id}1`, name: 'description', content: 'Я не продам телевизор котенку'},
      {hid: `post-${this.post._id}1`, name: 'keywords', content: 'Я не продам телевизор собачке'}
    ]
  }),
  data: () => ({
    canAddComment: true
  }),
  components: {
    AppComment,
    AppCommentForm
  },
  methods: {
    createCommentHandler() {
      this.canAddComment = false
    }
  }
}
</script>
<style lang="scss" scoped>
.post {
  max-width: 600px;
  margin: 0 auto;
}
.post-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}
.post-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;
}
.post-image img {
  width: 100%;
  height: auto;
}
.post-header {
  margin-bottom: 1.5rem;
}
.post-content {
  margin-bottom: 2rem;
}
</style>