<template>
  <el-form @submit.native.prevent="sub" :model="controls" :rules="rules" ref="form">
    <h1>Создать новый пост</h1>
    <el-form-item label="Введите название поста" prop="title">
      <el-input v-model="controls.title"></el-input>
    </el-form-item>
    <el-form-item label="Текст в формате .md или .html" prop="text">
      <el-input type="textarea" resize="none" rows="10" v-model="controls.text"></el-input>
    </el-form-item>

    <el-dialog title="Предпросмотр" :visible.sync="previewDialog">
      <div :key="controls.text">
        <vue-markdown>{{controls.text}}</vue-markdown>
      </div>
    </el-dialog>

    <el-upload
      ref="upload"
      style="margin-bottom: 2rem"
      drag
      action="https://jsonplaceholder.typicode.com/posts/"
      :auto-upload="false"
      :on-change="handleImageChange"
    >
      <i class="el-icon-upload"></i>
      <div class="el-upload__text">
        Перетащите картинку или
        <em>нажмите</em>
      </div>
      <div class="el-upload__tip" slot="tip">jpg/png</div>
    </el-upload>

    <el-button type="success" plain @click="previewDialog = true">Предпросмотр</el-button>
    <el-form-item>
      <el-button type="primary" round native-type="submit" :loading="loading">Создать пост</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  layout: 'admin',
  middleware: 'adminAuth',
  data: () => ({
    image: null,
    loading: false,
    previewDialog: false,
    controls: {
      title: '',
      text: ''
    },
    rules: {
      text: [
        {
          required: true,
          message: 'Текст не должен быть пустым',
          trigger: 'blur'
        }
      ],
      title: [
        {
          required: true,
          message: 'Название поста не может быть пустым',
          trigger: 'blur'
        }
      ]
    }
  }),
  methods: {
    sub() {
      this.$refs.form.validate(async valid => {
        if (valid && this.image) {
          this.loading = true
          const formData = {
            title: this.controls.title,
            text: this.controls.text,
            image: this.image
          }
          try {
            await this.$store.dispatch('post/create', formData)
            this.$message.success('Пост создан')
            this.controls.title = ''
            this.controls.text = ''
            this.image = null
            this.$refs.upload.clearFiles()
            this.loading = false
          } catch (e) {
            // this.$store.dispatch('index/setError')
            console.log(e)
          }
        }
      })
    },
    handleImageChange(file, filelist) {
      console.log(file, filelist)
      this.image = file.raw
    }
  }
}
</script>

<style>
form {
  width: 600px;
}
</style>