<template>
  <div>
    <h1>Аналитика по постам</h1>
  </div>
</template>

<script>
import { Bar } from 'vue-chartjs'
export default {
  layout: 'admin',
  middleware: 'adminAuth',
  // extends: Bar,
  mounted() {
    console.log(this)
    // this.renderChart()
  }
}
</script>

<style>
</style>