<template>
  <el-table :data="posts" style="width: 100%">
    <el-table-column prop="title" label="Название" />
    <el-table-column label="Дата" width="180">
      <template slot-scope="{row: {date}}">
        <i class="el-icon-time"></i>
        <span style="margin-left: 10px">{{ new Date(date).toLocaleString() }}</span>
      </template>
    </el-table-column>

    <el-table-column label="Просмотры">
      <template slot-scope="{row: {views}}">
        <i class="el-icon-view"></i>
        <span style="margin-left: 10px">{{ views }}</span>
      </template>
    </el-table-column>
    <el-table-column label="Коментарии">
      <template slot-scope="{row: {comments}}">
        <i class="el-icon-message"></i>
        <span style="margin-left: 10px">{{ comments.length }}</span>
      </template>
    </el-table-column>
    <el-table-column label="Действия">
      <template slot-scope="{row}">
        <el-tooltip effect="dark" content="Открыть пост" placement="top">
          <el-button type="primary" icon="el-icon-edit" circle @click="open(row._id)" />
        </el-tooltip>
        <el-tooltip effect="dark" content="Удалить пост" placement="top">
          <el-button type="danger" icon="el-icon-delete" circle @click="remove(row._id)" />
        </el-tooltip>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  layout: 'admin',
  middleware: 'adminAuth',
  async asyncData({ store }) {
    const posts = await store.dispatch('post/fetchAdmin')
    return { posts }
  },
  data: () => ({}),
  methods: {
    open(id) {
      this.$router.push(`/admin/post/${id}`)
    },
    async remove(e) {
      try {
        await this.$confirm('Удалить пост?', 'Внимание', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отменить',
          type: 'warning'
        })
        await this.$store.dispatch('post/remove', e)
        this.$message.success('Пост удален')
        this.posts = this.posts.filter(el => el._id !== e)
      } catch (err) {}
    }
  }
}
</script>

<style>
</style>