<template>
  <el-card shadow="always" style="width:600px">
    <el-form @submit.native.prevent="sub" :model="controls" :rules="rules" ref="form">
      <h2>Войти в панель администратора</h2>
      <el-form-item label="Логин" prop="login">
        <el-input v-model.trim="controls.login"></el-input>
      </el-form-item>
      <el-form-item label="Пароль" prop="password">
        <el-input resize="none" :rows="2" type="password" v-model.trim="controls.password"></el-input>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" round native-type="submit" :loading="loading">Войти</el-button>
      </el-form-item>
    </el-form>
  </el-card>
</template>

<script>
export default {
  layout: 'empty',
  data: () => ({
    loading: false,
    controls: {
      login: '',
      password: ''
    },
    rules: {
      login: [
        {
          required: true,
          message: 'Введите логин',
          trigger: 'blur'
        }
      ],
      password: [
        { required: true, message: 'Введите пароль', trigger: 'blur' },
        {
          min: 6,
          message: 'Пароль должен быть не менее 6 символов',
          trigger: 'blur'
        }
      ]
    }
  }),
  mounted() {
    const { message } = this.$route.query
    if (message === 'login') {
      this.$message.info('Для начала войдите в систему')
    } else if (message === 'logout') {
      this.$message.success('Вы вышли из системы')
    } else if (message === 'session') {
      this.$message.warning('Сессия не валидна')
    }
  },
  methods: {
    sub() {
      this.$refs.form.validate(async valid => {
        if (valid) {
          this.loading = true
          const formData = {
            login: this.controls.login,
            password: this.controls.password
          }
          try {
            await this.$store.dispatch('auth/login', formData)
            this.$router.push('/admin')
          } catch (e) {
            // this.$store.dispatch('index/setError')
            console.log(e)
          }
        }
      })
    }
  }
}
</script>

<style>
</style>