<template>
  <el-form @submit.native.prevent="sub" :model="controls" :rules="rules" ref="form">
    <h2>Cоздать пользователя</h2>
    <el-form-item label="Логин" prop="login">
      <el-input v-model.trim="controls.login"></el-input>
    </el-form-item>
    <el-form-item label="Пароль" prop="password">
      <el-input resize="none" :rows="2" type="password" v-model.trim="controls.password"></el-input>
    </el-form-item>

    <el-form-item>
      <el-button type="primary" round native-type="submit" :loading="loading">Создать</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  layout: 'admin',
  middleware: 'adminAuth',
  data: () => ({
    loading: false,
    controls: {
      login: '',
      password: ''
    },
    rules: {
      login: [
        {
          required: true,
          message: 'Введите логин',
          trigger: 'blur'
        }
      ],
      password: [
        { required: true, message: 'Введите пароль', trigger: 'blur' },
        {
          min: 6,
          message: 'Пароль должен быть не менее 6 символов',
          trigger: 'blur'
        }
      ]
    }
  }),
  methods: {
    sub() {
      this.$refs.form.validate(async valid => {
        if (valid) {
          this.loading = true
          const formData = {
            login: this.controls.login,
            password: this.controls.password
          }
          try {
            await this.$store.dispatch('auth/createUser', formData)
            this.$message.success('Новый пользователь добавлен')
            this.login = ''
            this.password = ''
            this.loading = false
          } catch (e) {
            this.loading = false
          }
        }
      })
    }
  }
}
</script>

<style>
form {
  width: 600px;
}
</style>