<template>
  <el-form @submit.native.prevent="onSubmit" :model="controls" :rules="rules" ref="form">
    <h1>Добавить комметарий</h1>
    <el-form-item label="Ваше имя" prop="name">
      <el-input v-model.trim="controls.name"></el-input>
    </el-form-item>
    <el-form-item label="Текст комментария" prop="text">
      <el-input type="textarea" resize="none" :rows="2" v-model.trim="controls.text"></el-input>
    </el-form-item>

    <el-form-item>
      <el-button type="primary" round native-type="submit" :loading="loading">Добавить комментарий</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  props: ['postId'],
  data: () => ({
    loading: false,
    controls: {
      name: '',
      text: ''
    },
    rules: {
      name: [
        {
          required: true,
          message: 'Имя не должно быть пустым',
          trigger: 'blur'
        }
      ],
      text: [
        { required: true, message: 'Введите ваш комментарий', trigger: 'blur' }
      ]
    }
  }),
  methods: {
    onSubmit(e) {
      this.$refs.form.validate(async valid => {
        if (valid) {
          this.loading = true
          const formData = {
            name: this.controls.name,
            text: this.controls.text,
            postId: this.postId
          }
          try {
            const newComment = await this.$store.dispatch(
              'comment/create',
              formData
            )
            console.log(newComment)
            this.$emit('created')
            this.$message.success('Комментарий добавлен')
          } catch {
            this.loading = false
          }
        }
      })
    }
  }
}
</script>

<style lang='scss' scope>
</style>