<template>
  <el-card class="comment">
    <div class="comment-header">
      <span>{{comment.name}}</span>
      <small>{{ new Date(comment.date).toLocaleString() }}</small>
    </div>
    <div class="comment-text">{{comment.text}}</div>
  </el-card>
</template>
<script>
export default {
  props: ['comment']
}
</script>
<style lang="scss" scoped>
.comment {
  margin-bottom: 1rem;
}
.comment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.comment-text {
  white-space: pre-line;
}
</style>