<template>
  <nav>
    <h1>SSR blog</h1>
  </nav>
</template>
<style lang="scss" scoped>
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-bottom: 1px solid #e6e6e6;
}
</style>