<template>
  <el-card shadow="hover" :body-style="{padding:0}" class="post">
    <header class="post-header">
      <h3>{{post.title}}</h3>
      <small>{{  post.date | date }}</small>
    </header>
    <div class="post-body">
      <img :src="post.imageUrl" alt class="post-image" />
    </div>
    <footer class="post-footer">
      <el-button round @click="openPost">Открыть пост</el-button>
      <span>
        <i class="el-icon-platform-eleme"></i>
        {{post.comments.length}}
      </span>
    </footer>
  </el-card>
</template>

<script>
export default {
  props: ['post'],
  methods: {
    openPost() {
      this.$router.push(`/post/${this.post._id}`)
    }
  }
}
</script>
<style lang="scss" scoped>
.post {
  // height: 200px;
  // border: 1px solid black;
  margin-bottom: 1.5rem;
}
.post-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-image {
  width: 100%;
  height: auto;
}
.post-body {
  // margin: 1rem 0;
}
.post-footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>