<template>
  <div class="page-wrap">
    <el-breadcrumb separator="/" class="mb">
      <el-breadcrumb-item to="/admin/list">Посты</el-breadcrumb-item>
      <el-breadcrumb-item>
        <a href="/">{{post.title}}</a>
      </el-breadcrumb-item>
    </el-breadcrumb>
    <el-form @submit.native.prevent="sub" :model="controls" :rules="rules" ref="form">
      <!-- <h2>Войти в панель администратора</h2> -->
      <el-form-item label="Текст в формате .md или .html" prop="text">
        <el-input type="textarea" resize="none" rows="10" v-model.trim="controls.text"></el-input>
      </el-form-item>
      <div class="mb">
        <small>
          <i class="el-icon-time">{{ new Date(post.date).toLocaleString()}}</i>
        </small>
        <small>
          <i class="el-icon-view"></i>
          {{post.views}}
        </small>
      </div>
      <el-form-item>
        <el-button type="primary" round native-type="submit" :loading="loading">Обновить</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  layout: 'admin',
  middleware: 'adminAuth',
  async asyncData({ store, params }) {
    const post = await store.dispatch('post/fetchAdminById', params.id)
    return { post }
  },
  data: () => ({
    loading: false,
    controls: {
      text: ''
    },
    rules: {
      text: [
        {
          required: true,
          message: 'Текст не должен быть пустым',
          trigger: 'blur'
        }
      ]
    }
  }),
  mounted() {
    this.controls.text = this.post.text
  },
  methods: {
    sub() {
      this.$refs.form.validate(async valid => {
        if (valid) {
          this.loading = true
          const formData = {
            text: this.controls.text,
            id: this.post._id
          }
          try {
            console.log(formData)
            await this.$store.dispatch('post/update', formData)
            this.$message.success('Пост обновлен')
            this.loading = false
          } catch (e) {
            // this.$store.dispatch('index/setError')
            console.log(e)
          }
        }
      })
    }
  }
}
</script>

<style lang='scss' scoped>
.page-wrap {
  width: 600px;
}
</style>