<template>
  <el-container>
    <el-header>
      <AppNavigation />
    </el-header>
    <el-main>
      <nuxt />
    </el-main>
    <el-footer>Footer</el-footer>
  </el-container>
</template>

<script>
import AppNavigation from '@/components/main/Navigation'
export default {
  head: {
    meta: [
      {
        hid: 'description23',
        name: 'description',
        content: 'очень люблю котиков'
      },
      {
        hid: 'metayandex',
        name: 'yandex-verification',
        content: '6bb1327b95badddf'
      }
    ],
    noscript: [
      {
        innerHTML:
          '<div><img src="https://mc.yandex.ru/watch/62013550" style="position:absolute; left:-9999px;" alt="" /></div>',
        body: true
      }
    ],
    script: [{ src: '../static/seo', body: true, defer: '' }]
  },
  components: {
    AppNavigation
  }
}
</script>
<style>
</style>
