<template>
  <el-row type="flex" justify="center">
    <el-col :xs="24" :sm="18" :md="12" :lg="10">
      <AppPosts v-for="post in posts" :key="post._id" :post="post" />
    </el-col>
  </el-row>
</template>

<script>
import AppPosts from '@/components/main/Posts'
export default {
  head: {
    title: `Главная | ${process.env.appName}`,
    meta: [
      {hid: 'homepage', name: 'description', content: 'Я не продам телевизор собаке'},
       {hid: 'homepage1', name: 'keywords', content: 'Я не продам телевизор коту'}
    ]
  },
  async asyncData({ store }) {
    const posts = await store.dispatch('post/fetch')
    return { posts }
  },
  components: {
    AppPosts
  }
}
</script>

<style>
</style>
